

<div class="jumbotron2" style="background-color: #F9F9F9" >
	<div class="container2">
		<div class='destination' style="color: #808782	background opacity: .5%">
  			<h1>HOBO Results</h1>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" style="color: #808782">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Hobo Hotel
        (<%= @hotels.count %>)
        </a>
      </h4>
    </div>
	    <div id="collapse1" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<% @hotels.each do |hotel| %>

						<%= render 'shared/hobo-result', hobo_result: hotel %>
					<% end	%>

	      </div>
	    </div>
 
  	<div class="panel-heading">
      <h4 class="panel-title" style="color: #808782">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Hobo Eat
				(<%= @restaurants.count %>)
        </a>
      </h4>
    </div>
	    <div id="collapse2" class="panel-collapse collapse">
	      <div class="panel-body">
	      	
	      	<% @restaurants.each do |restaurant| %>

				  	<%= render 'shared/hobo-result', hobo_result: restaurant %>

					<% end %>
		  </div>
	  </div>
 
    <div class="panel-heading">
      <h4 class="panel-title" style="color: #808782">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Hobo Activity 
        (<%= @localflavors.count %>)
        </a>
      </h4>
    </div>
	    <div id="collapse3" class="panel-collapse collapse">
	      <div class="panel-body">
	      	
	      	<% @localflavors.each do |localflavor| %>

				  	<%= render 'shared/hobo-result', hobo_result: localflavor %>

					<% end %>	

	      </div>
	    </div>
    <div class="panel-heading"> 
      <h4 class="panel-title" style="color: #808782">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Hobo Pet
        (<%= @pets.count %>)
        </a>
      </h4>
    </div>
	    <div id="collapse4" class="panel-collapse collapse">
	      <div class="panel-body">
	      	
	      	<% @pets.each do |pet| %>

				  	<%= render 'shared/hobo-result', hobo_result: pet %>

					<% end %>		

	      </div>
	    </div>
	  
    <div class="panel-heading">
      <h4 class="panel-title" style="color: #808782">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Hobo Shop
        (<%= @shoppingcenters.count %>)
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
      	
	      	<% @shoppingcenters.each do |shoppingcenter| %>
					  <%= render 'shared/hobo-result', hobo_result: shoppingcenter %>
					<% end %>	

		  </div>    
    </div>
</div>
</div>
</div>
