

<div class="jumbotron2" style="background-color: #F9F9F9" >
	<div class="container2">
	 
		<div class='destination' style="color: #808782">
  			<h2>HOBO Results</h2>
	  		Hobo Hotel
		</div>

		
		<% @hotels.each do |hotel| %>
			<div>
				<%= hotel.name %>
				<hr>
				<%= hotel.snippet_text %>
				<hr>
				<img src= <%= hotel.image_url %> >
				<hr>
				<img src= <%= hotel.rating_img_url_large%> >
				<hr>
				<%= hotel.display_phone %>

			</div>
		 	
		 	<div>
		 		<% hotel.location.display_address.each do |address_part| %>
		 		<%= address_part %>
		 			<br>
				<% end %>	
			</div>
		<% end	%>
		<br>
	  	<div class='eats' style="color: #808782">
	  		Hobo Eats?
	  	</div>
	  	<% @restaurants.each do |restaurant| %>

		  	<div>
				<%= restaurant.name %>
				<hr>
				<%= restaurant.snippet_text %>
				<hr>
				<img src= <%= restaurant.image_url %> >
				<hr>
				<img src= <%= restaurant.rating_img_url_large%> >
				<hr>
				<%= restaurant.display_phone %>

			</div>
		 	
		 	<div>
		 		<% restaurant.location.display_address.each do |address_part| %>
		 			<%= address_part %>
		 			<br>
				<% end %>	
			</div>
		<% end %>
		<div class='localflavors' style="color: #808782">
	  		Hobo Sites?
	  	</div>        
		<% @localflavors.each do |localflavor| %>

		  	<div>
				<%= localflavor.name %>
				<hr>
				<%= localflavor.snippet_text %>
				<hr>
				<img src= <%= localflavor.image_url %> >
				<hr>
				<img src= <%= localflavor.rating_img_url_large%> >
				<hr>
				<%= localflavor.display_phone %>
			</div>
		 	
		 	<div>
		 		<% localflavor.location.display_address.each do |address_part| %>
		 			<%= address_part %>
		 			<br>
				<% end %>	
			</div>
		<% end %>	
		<div class='pets' style="color: #808782">
	  		Hobo Pets?
	  	</div>   		
    	<% @pets.each do |pet| %>

		  	<div>
				<%= pet.name %>
				<hr>
				<%= pet.snippet_text %>
				<hr>
				<img src= <%= pet.image_url %> >
				<hr>
				<img src= <%= pet.rating_img_url_large%> >
				<hr>
				<%= pet.display_phone %>
			</div>
		 	
		 	<div>
		 		<% pet.location.display_address.each do |address_part| %>
		 			<%= address_part %>
		 			<br>
				<% end %>	
			</div>
		<% end %>		
    	<div class='shoppingcenters' style="color: #808782">
	  		Hobo Shopping?
	  	</div>
		<% @shoppingcenters.each do |shoppingcenter| %>

		  	<div>
				<%= shoppingcenter.name %>
				<hr>
				<%= shoppingcenter.snippet_text %>
				<hr>
				<img src= <%= shoppingcenter.image_url %> >
				<hr>
				<img src= <%= shoppingcenter.rating_img_url_large%> >
				<hr>
				<%= shoppingcenter.display_phone %>
			</div>
		 	
		 	<div>
		 		<% shoppingcenter.location.display_address.each do |address_part| %>
		 			<%= address_part %>
		 			<br>
				<% end %>	
			</div>
		<% end %>			
  	</div>
	
 </div>